.Modal1 {
    position: absolute;
    top: 200px;
    left: 720px;
    right: 720px;
    bottom: 400px;
    background-color: papayawhip;
    border-radius: 25px;
  }

  .Overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5);
  }