.department-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  justify-items: center;
  width: 90%;
  max-width: 900px;
  margin: 2rem auto;
  grid-gap: 3rem;
}

.admin-button {
  height: 2rem;
  width: 6rem;
  border-radius: 0.5rem;
  margin: 1rem;
  position:fixed;
  bottom:0;
  right:0;  
  background-color: yellowgreen;
}



@media only screen and (min-width:321px) and (max-width:768px) {
  .department-container {
    grid-template-columns: repeat(2, 2fr);

  }
}

@media only screen and (max-width:320px) {
  .department-container {
    grid-template-columns: repeat(1, 2fr);

  }
}

