
.department-component {
    border-radius: 1rem;
    padding: 1rem;
    background-color: #EEEEEE;
    border: 0.1rem solid #d0cfcf;
    height: 15rem;
    width: 15rem;
    max-width: 15rem;
    max-height: 15rem;
}

.employee-section {
    height: 12rem;
    overflow:auto;
}

.admin-section {
    height: 5rem;
    margin: 1rem;
    bottom:0;
    right:0; 
    position: fixed; 

  }
  

.department-name {
    text-align: center;
    font-weight: bold;
    font-size: large;
}



